/* src/index.css */
@import "tailwindcss";

/* optional small global styles */
:root {
  --bg: #0b0b0c;
  --muted: #9ca3af;
}

html,
body,
#root {
  height: 100%;
}

body {
  background: var(--bg);
  color: #e5e7eb;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-family: 'Raleway', sans-serif;
}

/* Neon Glow for Particles */
.neon-glow canvas {
  filter:
    drop-shadow(0 0 6px #ccff00) drop-shadow(0 0 15px #ccff00) drop-shadow(0 0 30px #ccff00);
  animation: neon-pulse 4s ease-in-out infinite alternate;
}

@keyframes neon-pulse {
  from {
    filter:
      drop-shadow(0 0 6px #ccff00) drop-shadow(0 0 15px #ccff00) drop-shadow(0 0 30px #ccff00);
  }

  to {
    filter:
      drop-shadow(0 0 8px #ccff00) drop-shadow(0 0 20px #ccff00) drop-shadow(0 0 40px #ccff00);
  }
}


/* Custom Neon Scrollbar */
.scrollbar-thin {
  scrollbar-width: thin;
}

/* Webkit browsers (Chrome, Safari, Edge) */
.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: rgba(168, 85, 247, 0.5);
  /* purple-500/50 */
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.scrollbar-thin:hover::-webkit-scrollbar-thumb {
  background: rgba(168, 85, 247, 0.7);
  /* purple-400/70 */
}